body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

.w3-bar .w3-button {
  padding: 16px;
}

.img2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.w3-third .w3-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-gap {
  margin-top: 10px;
  margin-bottom: 30px; 
}
